$icon-font-size: 1.2em;
$icon-right: 0.3em;

.remove-restore-btn {
  display: none;
  position: absolute;
  right: $icon-right;
  top: 50%;
  transform: translateY(-50%);

  &__icon {
    cursor: pointer;
    font-size: $icon-font-size;
  }

  &__restore {
    display: none;
  }
}

.removable-item {
  border-radius: var(--border-radius-small);
  padding: 0.5em $icon-font-size+$icon-right+0.2em 0.5em 0.3em;
  position: relative;

  &:hover {
    background-color: var(--background-color-removable-item-hover);

    .remove-restore-btn {
      display: block;
    }
  }

  &--pre-removed {
    filter: opacity(60%);

    .remove-restore-btn {
      &__remove {
        display: none;
      }
      &__restore {
        display: block;
      }
    }
  }
}
