.note-category-row {
  border-radius: var(--border-radius-small);
  padding: 0.5em 0.3em;
  position: relative;

  max-width: 40rem;

  &__remove-restore-btn {
    display: none;
    font-size: 1.4em;
    position: absolute;
    right: 0.3em;
    top: 50%;
    transform: translateY(-50%);
  }

  &:hover {
    background-color: var(--color-gray-2);

    .note-category-row__remove-restore-btn {
      display: block;
    }
  }

  &--pre-removed {
    .note-category {
      filter: opacity(60%);
    }

    .remove-restore-btn {
      &__remove {
        display: none;
      }
      &__restore {
        display: block;
      }
    }
  }
}


.remove-restore-btn {
  &__icon {
    cursor: pointer;
    font-size: 0.9em;
  }

  &__restore {
    display: none;
  }
}
