<div class="login-register__wrap">
  <div class="login-register">
    <h1 class="headline1 login-register__headline">Регистрация</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div>
        <div class="login-register__form-field">
          <input class="form-element login-register__form-element" formControlName="username"
                 type="text" placeholder="Имя пользователя"/>
          <p
            *ngIf="(formFields.username.errors?.minlength || formFields.username.errors?.maxlength) && formFields.username.touched"
            class="form-error-message">*Имя пользователя должно содержать от 4 до 25
            символов.</p>
          <p *ngIf="formFields.username.errors?.usernameUsed && formFields.username.touched"
             class="form-error-message">*Пользователь с таким именем уже
            существует.</p>
        </div>
        <div class="login-register__form-field">
          <input class="form-element login-register__form-element" formControlName="password"
                 type="password" placeholder="Пароль"/>
        </div>
        <div class="login-register__form-field">
          <input class="form-element login-register__form-element"
                 formControlName="passwordConfirm" type="password" placeholder="Подтверждение пароля"/>
          <p *ngIf="formFields.passwordConfirm.hasError('matching') && formFields.passwordConfirm.touched"
             class="form-error-message">*Пароли не совпадают.</p>
        </div>
      </div>
      <button class="button button--register login-register__button" type="submit" [disabled]="registerForm.invalid">Зарегистрироваться</button>
    </form>
    <a class="button button--login login-register__button" routerLink="/login">Вход</a>
  </div>
</div>
