.note {
  align-items: center;
  display: flex;
  font-size: var(--font-size-large);

  &__amount, &__category {
    margin-right: 1.1em;
  }

  &__icon {
    font-size: 1.2em;
    margin-right: 0.4em;
  }

  &__commentary {
    font-size: var(--font-size-medium);
  }
}

.note--INCOME .note__amount::before {
  content: '+';
}

.note--EXPENSE .note__amount::before {
  content: '-';
}
