.income-expense-for-all-time-sorted-by-category-chart {
  margin-bottom: 4rem;
  width: 500px;

  &__title {
    font-size: var(--font-size-extra-extra-large);
    font-weight: 500;
    margin-bottom: 0.4em;
  }
}
