<div class="add-note-category">
    <form class="add-note-category__form" [formGroup]="addNoteCategoryForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-element--mat add-note-category__type add-note-category__form-element">
        <mat-select formControlName="type">
          <mat-option *ngFor="let i of types" [value]="i">
            <span class="note-type add-note__type-option">
              <i *ngIf="i.value == 'INCOME'" class="icon-amount-INCOME"></i>
              <i *ngIf="i.value == 'EXPENSE'" class="icon-amount-EXPENSE"></i>
              {{i.name}}
            </span>
          </mat-option>
        </mat-select>
      </mat-form-field>
        <input class="form-element add-note-category__name add-note-category__form-element" formControlName="name" placeholder="название категории" type="text">
        <input class="form-element add-note-category__color add-note-category__form-element" formControlName="color" type="color">
        <button class="button add-note-category__button" [disabled]="addNoteCategoryForm.invalid" type="submit" >Добавить</button>
    </form>
</div>
