
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$money-manager-primary: mat.define-palette(mat.$indigo-palette);
$money-manager-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$money-manager-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$money-manager-theme: mat.define-light-theme((
  color: (
    primary: $money-manager-primary,
    accent: $money-manager-accent,
    warn: $money-manager-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($money-manager-theme);

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&display=swap');
@import "./styles/base/variables.scss";
@import "./styles/base/reset.scss";
@import "./styles/base/general.scss";
@import "./styles/base/typography.scss";
@import "./styles/components/button.scss";
@import "styles/components/form-element";
@import "./styles/components/link.scss";
@import "./styles/components/login-register.scss";
@import "./styles/components/note-category.scss";
@import "./styles/components/form-error-message.scss";
@import "./styles/components/remove-restore-btn.scss";
@import "./styles/components/note-type.scss";
