.statistics {
  padding: var(--padding-page);
  margin: 0 auto;
  width: calc(100% - var(--padding-page));
  max-width: 1400px;
}

.income-expense-for-all-time-sorted-by-category-charts {
  display: grid;
  grid-auto-flow: column;
  margin-top: 6rem;
  width: 100%;

}
