:root {
  --color-white-1: #fff;
  --color-black-1: #000;

  // light
  --color-white-2: #fcfcfc;
  --color-white-3: #ededed;
  --color-white-4: #d7d7d7;
  --color-white-5: #dedede;
  --color-gray-1: #8d8d8d;
  --color-black-2: #333;
  --color-red-1: #cc0000;
  --color-red-2: #800f11;
  --color-yellow-1: #FDD023;
  --color-blue-1: #69a2e4;
  --color-blue-2: #5181b8;
  --color-blue-3: #009bd6;
  --color-green-1: #51b854;
  --color-green-2: #10800f;

  // dark
  --color-black-3: #0e0e10;
  --color-black-4: #18181b;
  --color-gray-2: #282828;
  --color-gray-3: #383838;
  --color-gray-4: #646464;
  --color-gray-5: #3a3a3a;
  --color-white-6: #efeff1;
  --color-orange-1: #f99c3c;
  --color-orange-2: #da8326;
  --color-red-3: #e53131;
  --color-green-3: #23a121;

  --border-radius-small: 0.4rem;
  --border-radius-medium: 0.6rem;
  --border-radius-large: 1.0rem;

  --font-size-small: 1.2rem;
  --font-size-medium: 1.4rem;
  --font-size-large: 1.6rem;
  --font-size-extra-large: 1.8rem;
  --font-size-extra-extra-large: 2.0rem;
  --font-size-huge: 2.6rem;

  --padding-page: 3rem 4rem;
  --min-width-page: 480px;

  // base
  --background-color-page: var(--color-white-2);
  --background-color-block: #fff;
  --box-shadow-color-block: rgba(0, 0, 0, 0.08);
  --text-color-primary: var(--color-black-2);

  // nav
  --background-color-nav: #fff;
  --border-color-nav: var(--color-white-5);

  // form-field
  --background-color-form-field-default: var(--color-white-3);
  --background-color-form-field-focus: #fff;
  --border-color-form-field-default: var(--color-white-4);
  --border-color-form-field-hover: var(--color-gray-1);
  --border-color-form-field-focus: var(--color-blue-2);

  // buttons
  --background-color-button-default: var(--color-yellow-1);
  --text-color-button-default: var(--color-black-2);
  --background-color-button-register: var(--color-green-1);
  --background-color-button-login: var(--color-blue-2);
  --text-color-button-login-register: #fff;

  // other elements
  --color-error: var(--color-red-1);
  --color-icon-expense: var(--color-red-2);
  --color-icon-income: var(--color-green-2);
  --text-color-note-type: var(--color-blue-3);
  --background-color-removable-item-hover: var(--color-white-3);
}

.theme-dark {
  // base
  --background-color-page: var(--color-black-3);
  --background-color-block: var(--color-black-4);
  --box-shadow-color-block: rgba(255, 255, 255, 0.00);
  --text-color-primary: var(--color-white-6);

  // nav
  --background-color-nav: var(--color-black-4);
  --border-color-nav: var(--color-gray-3);

  // form-field
  --background-color-form-field-default: var(--color-black-4);
  --background-color-form-field-focus: var(--color-black-1);
  --border-color-form-field-default: var(--color-gray-5);
  --border-color-form-field-hover: var(--color-gray-4);
  --border-color-form-field-focus: var(--color-orange-2);

  // other elements
  --color-icon-expense: var(--color-red-3);
  --color-icon-income: var(--color-green-3);
  --text-color-note-type: var(--color-orange-1);
  --background-color-removable-item-hover: var(--color-gray-2);
}
